$color-purple: #272343;
$color-dark-blue: #142850;
$color-mid-blue: #27496d;
$color-light-blue: #0c7b93;
$color-alpha-blue: #6583a8;
$color-dark-gray: #6b7b8e;
$color-light-gray: #C1C8C7;
$color-white: #fafafa;
$color-mid-white: #e6f8f9;
$color-black: #01020a;
$color-mid-black: #252B31;